# AI
GROQ_API_KEY=

# Database
MONGODB_URI=

# Auth
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

https://i.pinimg.com/vwebp/1200x/9e/2e/4f/9e2e4f13a0e418ced92c444a0103621a.webp
https://i.pinimg.com/vwebp/1200x/97/dd/80/97dd80b0b94fa68d63924af9dcd5e5b2.webp